<%- include("partials/header.js") %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/404.css">
</head>
<body>
	
	<div id="main" class="container">
			<div class="jumbotron">
				<h1 id="text">Something's Wrong Here.....</h1>
				<h3 id="text">We can't find the Page you are looking for. Try going back to the Home Page....</h3>
				<center id="home"><a href="/home"><button type="button" class="btn btn-outline-info btn-lg" >Go To Home!</button></a></center>
				
			</div>
		</div>

<%- include("partials/footer.js") %>